button {
    animation: welcome-in 0.5s ease-in-out;
    background: none;
    font-size: 1em;
    padding: 7px;
    box-shadow: 5px 5px 0 1px black;
    transition: 0.2s;
}

button:hover {
    box-shadow: 3px 3px 0 1px black;
    transform: translateX(2px) translateY(2px);
}

button:active {
    box-shadow: none;
    transform: translateX(5px) translateY(5px);
}