body {
    width: 100%;
    height: 100%;
    font: 1.2em Courier New;
    font-weight: 700;
    color: #665078;
    background-color: #f3eaf4;
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
}

#text {
    margin: 0;
    padding: 5vw 20vw 5vw 20vw;
    white-space: pre-wrap;
    /* text-wrap: inherit; */
    line-height: 1.4em;
}

.hide-after::after {
    content: "|";
    font-size: 1.7em;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 50% { opacity: 1; }
    51%, 100% { opacity: 0; }
}

.fade-in {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.fade-in::after {
    content: '';
}

.fade-in.show {
    opacity: 1;
}